/url/cache
/eln-cache
/.emacs.desktop
/auto-save-list
/.session
/session.*
/.cache
/custom.el
*.elc
.litable-lists.el
network-security.data
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
places
/newsticker
/ac-comphist.dat
\#*
site-lisp/package/
/swank
/.mc-lists.el
/var
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
/bookmarks
/history
/helm-adaptive-history
/thumbs/
/emms/
/javacomp
/.smex-items
/image-dired/
/eshell
/.cask/
/.sx/
/org-clock-save.el
/ditaa*.jar
/ido.last
/recentf
/viper
/projectile-bookmarks.eld
/elpa-mirror
/diary
/el-get/
/quelpa/
/wiki
/org-todo
/org-brain
/config.el
/.docsets
/nov-places
/annot/
/lisp/private
